<!DOCTYPE web-app PUBLIC
 "-//Sun Microsystems, Inc.//DTD Web Application 2.3//EN"
 "http://java.sun.com/dtd/web-app_2_3.dtd" >

<web-app>
  <display-name>Wow-Spring</display-name>

  <servlet>
    <servlet-name>wow</servlet-name>
    <servlet-class>com.sev7e0.wow.framework.webmvc.servlet.WDispatcherServlet</servlet-class>
    <init-param>
      <param-name>defaultConfig</param-name>
      <param-value>classpath:application.properties</param-value>
    </init-param>
  </servlet>
  <servlet-mapping>
    <servlet-name>wow</servlet-name>
    <url-pattern>/*</url-pattern>
  </servlet-mapping>


</web-app>
